<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog</title>
</head>
<body>
  
  <h1>Edit article</h1>
  <form action="/admin/edit/<%= article.fileName %>" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value="<%= article.title %>" required>
    <br>
    <label>Date:</label>
    <input type="text" name="date" value="<%= article.date %>" required>
    <br>
    <label>Content:</label>
    <textarea name="content" required><%= article.content %></textarea>
    <br>
    <button type="submit">Update</button>
  </form>

</body>
</html>