<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="edit">
  
  <h1>Edit article</h1>
  <form action="/admin/edit/<%= article.fileName %>" method="POST">
    <div>
      <label>Title:</label>
      <input type="text" name="title" value="<%= article.title %>" required>
    </div>
    <div>
      <label>Date:</label>
      <input type="text" name="date" value="<%= article.date %>" required>
    </div>
    <div>
      <label>Content:</label>
      <textarea name="content" required><%= article.content %></textarea>
    </div>
    <button type="submit">Update</button>
  </form>

</body>
</html>