<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="admin">
  
  <header>
    <h1>Admin section</h1>
    <a href="/admin/new">Add</a>
  </header>
  <ul>
    <% articles.forEach(article => { %>
      <li>
        <h2><%= article.title %></h2>
        <div>
          <a class="edit" href="/admin/edit/<%= article.fileName %>">Edit</a>
          <form action="/admin/delete/<%= article.fileName %>" method="POST" style="display: inline;">
            <button class="delete" type="submit">Delete</button>
          </form>
        </div>
      </li>
    <% }) %>
  </ul>

</body>
</html>